.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.avatar-lg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}