.banner {
  color: white;
  padding: 120px;
  background-size: cover;
  text-shadow: 0 0 4px rgb(0 0 0 / 90%);
  margin-bottom: 48px;
}

.banner h1, .banner p {
  margin: 0;
}

.banner a {
  margin-top: 32px;
}