.btn-airbnb {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #E51E53;
  color: white;
  transition: background-color .3s;
  display: inline-block;
}

.btn-airbnb:hover {
  background-color: #b22097;
}

.btn-medium {
  border: 1px solid #1C8919;
  color: #1C8919;
  border-radius: 50px;
  display: inline-block;
  padding: 8px 24px;
}
