.card-category {
  height: 400px;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 16px rgb(0 0 0 / 50%);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.card-product {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
}

.card-product img {
  height: 180px;
  margin: 8px 0;
}

.card-product h2, .card-product p {
  margin: 0;
}

.card-trip {
  background-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.3);
  margin-bottom: 24px;
}

.card-trip img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
}

.card-footer h2, .card-footer p {
  margin: 0;
}